http://coloradovoters.info/download.html

In [0]:
## Initialize
import numpy as np
import pandas as pd
import time
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
## Load data
filename='gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Merged040619.csv'
df = pd.read_csv(filename)

### EDA with 2019 data separately to spot the data architecture
print(df.shape,'\n',df.tail())

(465757, 56)
          VOTER_ID  COUNTY_CODE  COUNTY     LAST_NAME FIRST_NAME MIDDLE_NAME  \
465752  601970232           16  Denver       JOHNSON       EMMA       GRACE
465753  601970245           16  Denver         KALIL       ADAM     ABRAXIS
465754  601970246           16  Denver        KAPLAN    CORINNE     LINDSAY
465755  601970249           16  Denver  KIMBLE QUINN      BLAKE     ANTHONY
465756  601970252           16  Denver          KOCH    STEPHEN       DAVID

       NAME_SUFFIX                VOTER_NAME_LF VOTER_NAME STATUS_CODE ...  \
465752         NaN          JOHNSON, EMMA GRACE        NaN           A ...
465753         NaN          KALIL, ADAM ABRAXIS        NaN           A ...
465754         NaN      KAPLAN, CORINNE LINDSAY        NaN           A ...
465755         NaN  KIMBLE QUINN, BLAKE ANTHONY        NaN           A ...
465756         NaN          KOCH, STEPHEN DAVID        NaN           A ...

        BALLOT_RETURNED_DATE  BALLOT_STAGE BALLOT_STATUS BALLOT_STATUS_REASON  \
465752                   NaN           NaN           NaN                  NaN
465753                   NaN           NaN           NaN                  NaN
465754                   NaN           NaN           NaN                  NaN
465755                   NaN           NaN           NaN                  NaN
465756                   NaN           NaN           NaN                  NaN

       IN_PERSON_VOTE IN_PERSON_VOTE_DATE  VOTED_PARTY                Address  \
465752            NaN                 NaN          NaN         610 N LOGAN ST
465753            NaN                 NaN          NaN       1955 N ULSTER ST
465754            NaN                 NaN          NaN          1859  28TH ST
465755            NaN                 NaN          NaN   8801 W BELLEVIEW AVE
465756            NaN                 NaN          NaN  1880  LITTLE RAVEN ST

       LON LAT
465752 NaN NaN
465753 NaN NaN
465754 NaN NaN
465755 NaN NaN
465756 NaN NaN

[5 rows x 56 columns]

In [0]:
#Format new address columns
df['Year']=2019
df['Month']=1
df_voter_201901 = df[['VOTER_ID','Year','Month','COUNTY','LAST_NAME','Address','RES_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PREFERENCE','PARTY_AFFILIATION_DATE','CONGRESSIONAL','STATE_SENATE','STATE_HOUSE','COUNCIL_DISTRICT','SCHOOL_DISTRICT','BALLOT_RETURNED_DATE','BALLOT_STAGE','BALLOT_STATUS','IN_PERSON_VOTE','IN_PERSON_VOTE_DATE','VOTED_PARTY']]
df_voter_201901.head()

,VOTER_ID,Year,Month,COUNTY,LAST_NAME,Address,RES_ZIP_CODE,EFFECTIVE_DATE,REGISTRATION_DATE,STATUS,...,STATE_SENATE,STATE_HOUSE,COUNCIL_DISTRICT,SCHOOL_DISTRICT,BALLOT_RETURNED_DATE,BALLOT_STAGE,BALLOT_STATUS,IN_PERSON_VOTE,IN_PERSON_VOTE_DATE,VOTED_PARTY
0,72085,2019,1,Denver,KING,161 S GROVE ST,80219,2/5/2017,7/2/2016,Active,...,34,4,3.0,2.0,10/25/2018,Validated,Accepted,No,NaN,NaN
1,72227,2019,1,Denver,CLARKSON,44 N PEARL ST,80203,1/25/2016,1/25/2016,Active,...,32,2,7.0,5.0,10/31/2018,Validated,Accepted,No,NaN,NaN
2,72301,2019,1,Denver,BRUMER,8101 E MISSISSIPPI AVE,80247,3/12/2018,6/18/2015,Active,...,31,6,5.0,3.0,10/30/2018,Validated,Accepted,No,NaN,NaN
3,72305,2019,1,Denver,STOREY,7101 W YALE AVE,80227,6/26/2015,7/30/2010,Active,...,16,1,2.0,2.0,10/25/2018,Validated,Accepted,No,NaN,NaN
4,72407,2019,1,Denver,STOREY,7101 W YALE AVE,80227,2/5/2016,7/30/2010,Active,...,16,1,2.0,2.0,10/25/2018,Validated,Accepted,No,NaN,NaN

In [0]:
#Check shape and NaN
def nancheck(df):
    print('Shape of the dataframe:',df.shape,'\n')
    print('Missing value counts:')
    print(df.shape[0]-df.count(),'\n') 
    return

nancheck(df_voter_201901)

Shape of the dataframe: (465757, 28)

Missing value counts:
VOTER_ID                       0
Year                           0
Month                          0
COUNTY                         0
LAST_NAME                     19
Address                        0
RES_ZIP_CODE                   0
EFFECTIVE_DATE                 0
REGISTRATION_DATE              0
STATUS                         0
BIRTH_YEAR                     0
GENDER                         0
PRECINCT                       0
SPLIT                          0
PARTY                          0
PREFERENCE                458197
PARTY_AFFILIATION_DATE         0
CONGRESSIONAL                  0
STATE_SENATE                   0
STATE_HOUSE                    0
COUNCIL_DISTRICT           77221
SCHOOL_DISTRICT            77221
BALLOT_RETURNED_DATE      197218
BALLOT_STAGE               88481
BALLOT_STATUS             197219
IN_PERSON_VOTE             77221
IN_PERSON_VOTE_DATE       454497
VOTED_PARTY               461575
dtype: int64

In [0]:
# Load Nov 2018.
def clean_address(address_series):
    new_series = address_series.str.split("APT").str[0]
    new_series = new_series.str.split("UNIT").str[0]
    new_series = new_series.str.split("STE").str[0]
    new_series = new_series.str.split("#").str[0]
    new_series = new_series.str.split("RM").str[0]
    new_series = new_series.str.split("PH").str[0]
    new_series = new_series.str.strip()
    return new_series
  
def load_df(year,part):  
    workdir='gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Raw datasets/Colorado_Registered_Voters/'
    filename=workdir+str(year)+'_Registered_Voters_List_ Part'+str(1)+'.txt'
    df = pd.read_csv(filename, dtype={'HOUSE_NUM':str})

    for i in range(2,part+1):
        filename=workdir+str(year)+'_Registered_Voters_List_ Part'+str(i)+'.txt'
        df_temp = pd.read_csv(filename,encoding='ISO-8859-1', dtype={'HOUSE_NUM':str})
        df = pd.concat([df,df_temp])
    df = df[df['COUNTY']=='Denver']
    df['Year']=year
    df['Month']=month
    df.fillna(value='')
    return df

year=2018
month=11
part=8

df=load_df(year, part)
nancheck(df)

df['Address']=clean_address(df['RESIDENTIAL_ADDRESS'])
df = df.sort_values(by=['Address'])
df = df.reset_index()
df.head()

df['CONGRESSIONAL']=df['CONGRESSIONAL'].str.split(" ").str[1]
df['STATE_SENATE']=df['STATE_SENATE'].str.split(" ").str[2]
df['STATE_HOUSE']=df['STATE_HOUSE'].str.split(" ").str[2]

df_voter_201811 = df[['VOTER_ID','Year','Month','COUNTY','LAST_NAME','Address','RESIDENTIAL_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PREFERENCE','PARTY_AFFILIATION_DATE','CONGRESSIONAL','STATE_SENATE','STATE_HOUSE']]
df_voter_201811=df_voter_201811.rename(index=str, columns={'RESIDENTIAL_ZIP_CODE':'RES_ZIP_CODE'})
df_voter_201811.shape

In [0]:
# Load Aug 2017
  
year=2017
month=8
part=8

df=load_df(year, part)
nancheck(df)

df['Address']=clean_address(df['RESIDENTIAL_ADDRESS'])
df = df.sort_values(by=['Address'])
df = df.reset_index()
df.head()

df['CONGRESSIONAL']=df['CONGRESSIONAL'].str.split(" ").str[1]
df['STATE_SENATE']=df['STATE_SENATE'].str.split(" ").str[2]
df['STATE_HOUSE']=df['STATE_HOUSE'].str.split(" ").str[2]

df_voter_201708 = df[['VOTER_ID','Year','Month','COUNTY','LAST_NAME','Address','RESIDENTIAL_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PARTY_AFFILIATION_DATE','CONGRESSIONAL','STATE_SENATE','STATE_HOUSE']]
df_voter_201708=df_voter_201708.rename(index=str, columns={'RESIDENTIAL_ZIP_CODE':'RES_ZIP_CODE'})
df_voter_201708.head()

,VOTER_ID,Year,Month,COUNTY,LAST_NAME,Address,RES_ZIP_CODE,EFFECTIVE_DATE,REGISTRATION_DATE,STATUS,BIRTH_YEAR,GENDER,PRECINCT,SPLIT,PARTY,PARTY_AFFILIATION_DATE,CONGRESSIONAL,STATE_SENATE,STATE_HOUSE
0,200129262,2017,8,Denver,CRANMER,1 E BAYAUD AVE,80209,11/8/2016,11/8/2016,Active,1973,Male,1320216218,218.00,DEM,09/02/2008,1,32,2
1,200187177,2017,8,Denver,BROOKSHIER,1 E BAYAUD AVE,80209,6/28/2016,10/6/2008,Inactive,1963,Male,1320216218,218.00,REP,10/06/2008,1,32,2
2,888600,2017,8,Denver,MACK,1 E BAYAUD AVE,80209,11/8/2016,4/1/2008,Active,1985,Male,1320216218,218.00,UAF,11/04/2011,1,32,2
3,600374777,2017,8,Denver,FISHER,1 E BAYAUD AVE,80209,11/8/2016,10/31/2011,Active,1983,Male,1320216218,218.00,DEM,10/31/2011,1,32,2
4,2679172,2017,8,Denver,WATSON,1 E BAYAUD AVE,80209,11/8/2016,4/4/2000,Active,1960,Male,1320216218,218.00,DEM,04/04/2000,1,32,2

In [0]:
# Load Aug 2016
year=2016
month=8
part=14

df=load_df(year, part)

## df['Address']=clean_address(df['RESIDENTIAL_ADDRESS']) # Can't use this, a different format of street with no space between street number and pre-direction
df['RESIDENTIAL_ADDRESS_New']=df.apply(lambda x:(x.RESIDENTIAL_ADDRESS[:len(str(x.HOUSE_NUM))]+' '+x.RESIDENTIAL_ADDRESS[len(str(x.HOUSE_NUM)):]),axis=1)
df['Address']=clean_address(df['RESIDENTIAL_ADDRESS_New'])
df = df.sort_values(by=['Address'])
df = df.reset_index()

df['CONGRESSIONAL']=df['CONGRESSIONAL'].str.split(" ").str[1]
df['STATE_SENATE']=df['STATE_SENATE'].str.split(" ").str[2]
df['STATE_HOUSE']=df['STATE_HOUSE'].str.split(" ").str[2]

df_voter_201608 = df[['VOTER_ID','Year','Month','COUNTY','LAST_NAME','Address','RESIDENTIAL_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PARTY_AFFILIATION_DATE','CONGRESSIONAL','STATE_SENATE','STATE_HOUSE']]
df_voter_201608=df_voter_201608.rename(index=str, columns={'RESIDENTIAL_ZIP_CODE':'RES_ZIP_CODE'})
df_voter_201608.head()

,VOTER_ID,Year,Month,COUNTY,LAST_NAME,Address,RES_ZIP_CODE,EFFECTIVE_DATE,REGISTRATION_DATE,STATUS,BIRTH_YEAR,GENDER,PRECINCT,SPLIT,PARTY,PARTY_AFFILIATION_DATE,CONGRESSIONAL,STATE_SENATE,STATE_HOUSE
0,600374777,2016,8,Denver,FISHER,1 E BAYAUD AVE,80209,11/4/2014,10/31/2011,Active,1983,Male,1320216218,218.00,DEM,10/31/2011,1,32,2
1,200187177,2016,8,Denver,BROOKSHIER,1 E BAYAUD AVE,80209,10/6/2008,10/6/2008,Active,1963,Male,1320216218,218.00,REP,10/06/2008,1,32,2
2,2628832,2016,8,Denver,GILBERTSON,1 E BAYAUD AVE,80209,10/4/2012,10/26/1998,Active,1969,Male,1320216218,218.00,REP,10/04/2012,1,32,2
3,2565811,2016,8,Denver,MULLINS,1 E BAYAUD AVE,80209,11/5/1996,11/5/1996,Active,1963,Male,1320216218,218.00,REP,11/05/1996,1,32,2
4,600350832,2016,8,Denver,VENEZIA,1 E BAYAUD AVE,80209,11/4/2014,7/13/2011,Active,1983,Male,1320216218,218.00,DEM,07/13/2011,1,32,2

In [0]:
# Load Oct 2015
year=2015
month=10
part=14

df=load_df(year, part)
nancheck(df)

df['Address']=clean_address(df['RESIDENTIAL_ADDRESS'])
df = df.sort_values(by=['Address'])
df = df.reset_index()
df.head()

df['CONGRESSIONAL']=df['CONGRESSIONAL'].str.split(" ").str[1]
df['STATE_SENATE']=df['STATE_SENATE'].str.split(" ").str[2]
df['STATE_HOUSE']=df['STATE_HOUSE'].str.split(" ").str[2]

df_voter_201510 = df[['VOTER_ID','Year','COUNTY','LAST_NAME','Address','RESIDENTIAL_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PARTY_AFFILIATION_DATE','CONGRESSIONAL','STATE_SENATE','STATE_HOUSE']]
df_voter_201510=df_voter_201510.rename(index=str, columns={'RESIDENTIAL_ZIP_CODE':'RES_ZIP_CODE'})
df_voter_201510.head()

,VOTER_ID,Year,COUNTY,LAST_NAME,Address,RES_ZIP_CODE,EFFECTIVE_DATE,REGISTRATION_DATE,STATUS,BIRTH_YEAR,GENDER,PRECINCT,SPLIT,PARTY,PARTY_AFFILIATION_DATE,CONGRESSIONAL,STATE_SENATE,STATE_HOUSE
0,2565811,2015,Denver,MULLINS,1 E BAYAUD AVE,80209,11/5/1996,11/5/1996,Active,1963,Male,1320216218,218.00,REP,11/05/1996,NaN,NaN,NaN
1,600374777,2015,Denver,FISHER,1 E BAYAUD AVE,80209,11/4/2014,10/31/2011,Active,1983,Male,1320216218,218.00,DEM,10/31/2011,NaN,NaN,NaN
2,2679172,2015,Denver,WATSON,1 E BAYAUD AVE,80209,11/4/2014,4/4/2000,Active,1960,Male,1320216218,218.00,DEM,04/04/2000,NaN,NaN,NaN
3,200187177,2015,Denver,BROOKSHIER,1 E BAYAUD AVE,80209,10/6/2008,10/6/2008,Active,1963,Male,1320216218,218.00,REP,10/06/2008,NaN,NaN,NaN
4,600350832,2015,Denver,VENEZIA,1 E BAYAUD AVE,80209,11/4/2014,7/13/2011,Active,1983,Male,1320216218,218.00,DEM,07/13/2011,NaN,NaN,NaN

In [0]:
# Load Sep 2014
year=2014
month=9
part=14

df=load_df(year, part)
nancheck(df)


df['Address']=clean_address(df['RESIDENTIAL_ADDRESS'])
df = df.sort_values(by=['Address'])
df = df.reset_index()
df.head()

#No Congressional data available for 2014.
df_voter_201409 = df[['VOTER_ID','Year','COUNTY','LAST_NAME','Address','RESIDENTIAL_ZIP_CODE','EFFECTIVE_DATE','REGISTRATION_DATE','STATUS','BIRTH_YEAR','GENDER','PRECINCT','SPLIT','PARTY','PARTY_AFFILIATION_DATE']]
df_voter_201409=df_voter_201409.rename(index=str, columns={'RESIDENTIAL_ZIP_CODE':'RES_ZIP_CODE'})
df_voter_201409.head()

,VOTER_ID,Year,COUNTY,LAST_NAME,Address,RES_ZIP_CODE,EFFECTIVE_DATE,REGISTRATION_DATE,STATUS,BIRTH_YEAR,GENDER,PRECINCT,SPLIT,PARTY,PARTY_AFFILIATION_DATE
0,2883371.0,2014,Denver,TORREZ,1 E BAYAUD AVE,80209.0,10/09/2012,10/04/2004,Active,1961.0,Male,1.320216e+09,218.00,DEM,10/04/2004
1,2679172.0,2014,Denver,WATSON,1 E BAYAUD AVE,80209.0,07/26/2012,04/04/2000,Active,1960.0,Male,1.320216e+09,218.00,DEM,04/04/2000
2,200187177.0,2014,Denver,BROOKSHIER,1 E BAYAUD AVE,80209.0,10/06/2008,10/06/2008,Active,1963.0,Male,1.320216e+09,218.00,REP,10/06/2008
3,2628832.0,2014,Denver,GILBERTSON,1 E BAYAUD AVE,80209.0,10/04/2012,10/26/1998,Active,1969.0,Male,1.320216e+09,218.00,REP,10/04/2012
4,2565811.0,2014,Denver,MULLINS,1 E BAYAUD AVE,80209.0,11/05/1996,11/05/1996,Active,1963.0,Male,1.320216e+09,218.00,REP,11/05/1996

In [0]:
#Set checkpoints and merge 2014-2019 datasets
workdir='gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/'

def write_checkpoint(df, dfname):
  filename=workdir+dfname+' '+time.strftime("%Y%m%d-%H%M")+'.csv'
  df.to_csv(filename, index=False)
  return

def read_checkpoint(filename):
    return pd.read_csv(filename)
'''
write_checkpoint(df_voter_201901,'Clean_Denver_voter_201901')  ## 465757 records
write_checkpoint(df_voter_201811,'Clean_Denver_voter_201811')  ## 482094 records
write_checkpoint(df_voter_201708,'Clean_Denver_voter_201708')  ## 445368 records
write_checkpoint(df_voter_201608,'Clean_Denver_voter_201608')  ## 439224 records
write_checkpoint(df_voter_201510,'Clean_Denver_voter_201510')  ## 423516 records
write_checkpoint(df_voter_201409,'Clean_Denver_voter_201409')  ## 464175 records

df_voter_201901=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201901.csv')
df_voter_201811=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201811.csv')
df_voter_201708=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201708.csv')
df_voter_201608=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201608.csv')
df_voter_201510=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201510.csv')
df_voter_201409=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Clean_Denver_voter_201409.csv')
'''
df_voter=pd.concat([df_voter_201901,df_voter_201811,df_voter_201708,df_voter_201608,df_voter_201510,df_voter_201409])
nancheck(df_voter) ## 2720134 records

Shape of the dataframe: (2720134, 28)

Missing value counts:
Address                         0
BALLOT_RETURNED_DATE      2451595
BALLOT_STAGE              2342858
BALLOT_STATUS             2451596
BIRTH_YEAR                      0
CONGRESSIONAL              464175
COUNCIL_DISTRICT          2331598
COUNTY                          0
EFFECTIVE_DATE                  0
GENDER                          0
IN_PERSON_VOTE            2331598
IN_PERSON_VOTE_DATE       2708874
LAST_NAME                     102
Month                     1815153
PARTY                           0
PARTY_AFFILIATION_DATE          0
PRECINCT                        0
PREFERENCE                2706194
REGISTRATION_DATE               0
RES_ZIP_CODE                    0
SCHOOL_DISTRICT           2331598
SPLIT                           0
STATE_HOUSE                464175
STATE_SENATE               464175
STATUS                          0
VOTED_PARTY               2715952
VOTER_ID                        0
Year                            0
dtype: int64

In [0]:
#Clean the new dataframe to remove unneeded columns/rows and rename the rest
df_voter_clean=df_voter.dropna(thresh=len(df_voter)*.75, axis=1)
nancheck(df_voter_clean)
df_voter_clean.drop(columns=['COUNTY','PARTY_AFFILIATION_DATE'],inplace=True)
df_voter_clean=df_voter_clean.rename(index=str, columns={'VOTER_ID':'VoterID','LAST_NAME':'VoterLastName','EFFECTIVE_DATE':'EffectiveDate','GENDER':'Gender','BIRTH_YEAR':'BirthYear','PARTY':'Party','PRECINCT':'Precinct','STATUS':'Status','SPLIT':'Split','STATE_HOUSE':'StateHouse','STATE_SENATE':'StateSenate','CONGRESSIONAL':'Congressional'})
df_voter_clean=df_voter_clean.rename(index=str, columns={'REGISTRATION_DATE':'RegistrationDate','RES_ZIP_CODE':'ZIP'})
df_voter_clean.head()

Shape of the dataframe: (2720134, 18)

Missing value counts:
Address                        0
BIRTH_YEAR                     0
CONGRESSIONAL             464175
COUNTY                         0
EFFECTIVE_DATE                 0
GENDER                         0
LAST_NAME                    102
PARTY                          0
PARTY_AFFILIATION_DATE         0
PRECINCT                       0
REGISTRATION_DATE              0
RES_ZIP_CODE                   0
SPLIT                          0
STATE_HOUSE               464175
STATE_SENATE              464175
STATUS                         0
VOTER_ID                       0
Year                           0
dtype: int64

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Address,BirthYear,Congressional,EffectiveDate,Gender,VoterLastName,Party,Precinct,RegistrationDate,ZIP,Split,StateHouse,StateSenate,Status,VoterID,Year
0,161 S GROVE ST,1982.0,1,2/5/2017,Female,KING,DEM,1.340416e+09,7/2/2016,80219.0,434,4,34,Active,72085.0,2019
1,44 N PEARL ST,1939.0,1,1/25/2016,Female,CLARKSON,REP,1.320216e+09,1/25/2016,80203.0,251,2,32,Active,72227.0,2019
2,8101 E MISSISSIPPI AVE,1925.0,1,3/12/2018,Male,BRUMER,UAF,1.310617e+09,6/18/2015,80247.0,650,6,31,Active,72301.0,2019
3,7101 W YALE AVE,1954.0,1,6/26/2015,Female,STOREY,REP,1.160116e+09,7/30/2010,80227.0,112,1,16,Active,72305.0,2019
4,7101 W YALE AVE,1954.0,1,2/5/2016,Male,STOREY,REP,1.160116e+09,7/30/2010,80227.0,112,1,16,Active,72407.0,2019

In [0]:
# Merge with other tables.
df_LastName=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Cleaned_SurnameToRaces_Census2010_Full.csv')
df_CensusBlockGroup=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Cleaned_Denver_Address_CensusBlockGroup.csv')
df_LastName['Surname'].astype('str')  ## The 102 NaN value is LAST_NAME actually represent people with surname 'NULL'
df_LastName['Surname'].fillna(value='NULL')
df_CensusBlockGroup=read_checkpoint('gdrive/My Drive/Project/GoCode 2019/Go Code - Regis Voter/Data/Merging Dataframes/Cleaned_Denver_Address_CensusBlockGroup.csv')
df1 = df_voter_clean.merge(df_LastName, how='left', left_on= 'VoterLastName', right_on = 'Surname')
df2 = df1.merge(df_CensusBlockGroup,  how='left', left_on= 'Address', right_on = 'Address')
nancheck(df1) #2720134
###df2.drop(columns=['Month','Surname','Longitude','Latitude'],inplace=True) #2216160
df_final_clean=df2
### df_final_clean=df2.dropna(how='any')
nancheck(df_final_clean)
write_checkpoint(df_final_clean,'Denver_Voters_Master_2014-2019')

In [0]:
df_final_clean[df_final_clean['Year']==2016].head(100)

,Address,BirthYear,Congressional,EffectiveDate,Gender,VoterLastName,Party,Precinct,RegistrationDate,ZIP,...,Surname,PercentWhiteAlone,PercentBlackOrAfricanAmericanAlone,PercentAsianAndNativeHawaiianAndOtherPacificIslanderAlone,PercentAmericanIndianAndAlaskaNativeAlone,Percent2OrMoreRaces,PercentHispanicOrLatinoOrigin,Longitude,Latitude,Tract-CensusBlock
1393219,1 E BAYAUD AVE,1983.0,1,11/4/2014,Male,FISHER,DEM,1.320216e+09,10/31/2011,80209.0,...,FISHER,82.58,11.790,0.550,0.760,1.890,2.430,-104.987145,39.714908,1.080310e+12
1393220,1 E BAYAUD AVE,1963.0,1,10/6/2008,Male,BROOKSHIER,REP,1.320216e+09,10/6/2008,80209.0,...,BROOKSHIER,89.85,0.960,1.150,0.960,2.300,4.790,-104.987145,39.714908,1.080310e+12
1393221,1 E BAYAUD AVE,1969.0,1,10/4/2012,Male,GILBERTSON,REP,1.320216e+09,10/26/1998,80209.0,...,GILBERTSON,95.68,0.350,0.780,0.290,1.240,1.660,-104.987145,39.714908,1.080310e+12
1393222,1 E BAYAUD AVE,1963.0,1,11/5/1996,Male,MULLINS,REP,1.320216e+09,11/5/1996,80209.0,...,MULLINS,88.75,6.860,0.360,0.520,1.780,1.740,-104.987145,39.714908,1.080310e+12
1393223,1 E BAYAUD AVE,1983.0,1,11/4/2014,Male,VENEZIA,DEM,1.320216e+09,7/13/2011,80209.0,...,VENEZIA,94.01,0.350,0.670,0.210,0.990,3.760,-104.987145,39.714908,1.080310e+12
1393224,1 E BAYAUD AVE,1960.0,1,11/4/2014,Male,WATSON,DEM,1.320216e+09,4/4/2000,80209.0,...,WATSON,66.03,27.900,0.530,0.820,2.300,2.410,-104.987145,39.714908,1.080310e+12
1393225,1 N ASH ST,1917.0,1,7/14/2013,Female,FREED,REP,1.310617e+09,5/1/1947,80220.0,...,FREED,94.86,1.170,0.780,0.360,1.110,1.720,-104.938746,39.716458,1.080310e+12
1393226,1 N ASH ST,1950.0,1,7/14/2008,Female,FREED,DEM,1.310617e+09,3/5/1999,80220.0,...,FREED,94.86,1.170,0.780,0.360,1.110,1.720,-104.938746,39.716458,1.080310e+12
1393227,1 N BELLAIRE ST,1962.0,1,4/4/2011,Female,CHAFAI,REP,1.310617e+09,1/23/2003,80220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-104.937644,39.716428,1.080310e+12
1393228,1 N BROADWAY ST,1986.0,1,11/4/2014,Male,LAWSON,REP,1.320216e+09,12/2/2013,80203.0,...,LAWSON,73.84,20.740,0.430,0.650,2.150,2.200,NaN,NaN,NaN
1393229,1 N CLARKSON ST,1969.0,1,8/22/2015,Female,ROSS,DEM,1.320216e+09,6/28/2002,80218.0,...,ROSS,68.96,24.460,0.610,0.900,2.320,2.750,-104.978174,39.716678,1.080310e+12
1393230,1 N COLORADO BLVD,1960.0,1,1/31/2014,Female,REEDER,UAF,1.320617e+09,12/15/1999,80206.0,...,REEDER,84.66,10.360,0.600,1.080,1.440,1.870,NaN,NaN,NaN
1393231,1 N COLORADO BLVD,1971.0,1,2/29/2016,Female,RAMOS,DEM,1.320617e+09,7/20/2015,80206.0,...,RAMOS,6.49,0.980,4.890,0.190,0.650,86.790,NaN,NaN,NaN
1393232,1 N COLORADO BLVD,1993.0,1,3/24/2016,Female,LAURIA,UAF,1.320617e+09,3/24/2016,80206.0,...,LAURIA,91.25,1.150,1.620,0.345,0.345,5.290,NaN,NaN,NaN
1393233,1 N COLORADO BLVD,1990.0,1,11/4/2014,Female,HALE,UAF,1.320617e+09,10/9/2012,80206.0,...,HALE,82.23,11.410,0.540,1.190,2.210,2.420,NaN,NaN,NaN
1393234,1 N CRESTMOOR DR,1930.0,1,6/3/2008,Male,DELINE,REP,1.310617e+09,8/7/1970,80220.0,...,DELINE,91.00,4.550,0.305,0.305,1.620,2.220,-104.921956,39.724799,1.080310e+12
1393235,1 N CRESTMOOR DR,1931.0,1,6/3/2008,Female,DELINE,REP,1.310617e+09,8/7/1970,80220.0,...,DELINE,91.00,4.550,0.305,0.305,1.620,2.220,-104.921956,39.724799,1.080310e+12
1393236,1 N DAHLIA ST,1961.0,1,10/10/2000,Male,COOPER,UAF,1.310617e+09,10/10/2000,80220.0,...,COOPER,67.93,26.130,0.500,0.740,2.310,2.400,-104.931981,39.716470,1.080310e+12
1393237,1 N DAHLIA ST,1971.0,1,2/14/2008,Female,COOPER,DEM,1.310617e+09,12/27/1994,80220.0,...,COOPER,67.93,26.130,0.500,0.740,2.310,2.400,-104.931981,39.716470,1.080310e+12
1393238,1 N DEXTER ST,1955.0,1,9/10/2012,Male,CHILD,DEM,1.310617e+09,12/21/2001,80220.0,...,CHILD,85.43,5.040,1.370,0.840,1.640,5.670,-104.933126,39.716442,1.080310e+12
1393239,1 N DEXTER ST,1954.0,1,11/4/2014,Male,ELLIS,REP,1.310617e+09,5/7/1986,80220.0,...,ELLIS,70.36,23.470,0.540,0.660,2.240,2.730,-104.933126,39.716442,1.080310e+12
1393240,1 N DOWNING ST,1988.0,1,11/4/2014,Female,JENKINS,UAF,1.320216e+09,6/27/2014,80218.0,...,JENKINS,57.76,36.780,0.390,0.570,2.420,2.070,NaN,NaN,NaN
1393241,1 N DOWNING ST,1987.0,1,4/4/2016,Female,VONHILSHEIMER,UAF,1.320216e+09,4/4/2016,80218.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1393242,1 N DOWNING ST,1947.0,1,11/4/2014,Female,BETCHER,UAF,1.320216e+09,7/23/1980,80218.0,...,BETCHER,94.27,0.285,0.800,0.285,1.490,2.870,NaN,NaN,NaN
1393243,1 N DOWNING ST,1946.0,1,6/17/2008,Female,ROWE,DEM,1.320216e+09,8/5/1970,80218.0,...,ROWE,79.26,15.060,0.640,0.570,2.000,2.470,NaN,NaN,NaN
1393244,1 N DOWNING ST,1981.0,1,10/22/2013,Male,ROWE,DEM,1.320216e+09,2/2/1999,80218.0,...,ROWE,79.26,15.060,0.640,0.570,2.000,2.470,NaN,NaN,NaN
1393245,1 N DOWNING ST,1983.0,1,11/4/2014,Male,ROWE,DEM,1.320216e+09,12/13/2001,80218.0,...,ROWE,79.26,15.060,0.640,0.570,2.000,2.470,NaN,NaN,NaN
1393246,1 N DOWNING ST,1983.0,1,4/25/2014,Female,LAETZ,UAF,1.320216e+09,8/13/2001,80218.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1393247,1 N DOWNING ST,1985.0,1,11/4/2014,Female,FEINSTEIN,UAF,1.320216e+09,12/1/2009,80218.0,...,FEINSTEIN,95.66,0.125,0.750,0.125,1.120,2.220,NaN,NaN,NaN
1393248,1 N DOWNING ST,1958.0,1,8/26/2010,Female,MOBERLY,REP,1.320216e+09,10/3/2005,80218.0,...,MOBERLY,94.52,1.290,0.410,0.460,1.290,2.020,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393289,1 N PENNSYLVANIA ST,1983.0,1,11/4/2014,Female,SIEBERT,UAF,1.320216e+09,4/23/2002,80203.0,...,SIEBERT,93.83,2.140,1.000,0.290,1.140,1.620,-104.981619,39.716650,1.080310e+12
1393290,1 N STUART ST,1993.0,1,2/15/2012,Male,GARCIA-TAPIA,DEM,1.340416e+09,2/15/2012,80219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-105.043624,39.716775,1.080310e+12
1393291,1 N STUART ST,1997.0,1,7/23/2015,Female,GARCIA,DEM,1.340416e+09,7/23/2015,80219.0,...,GARCIA,5.38,0.450,1.410,0.470,0.260,92.030,-105.043624,39.716775,1.080310e+12
1393292,1 N WASHINGTON ST,1987.0,1,7/13/2015,Female,LEMKE,UAF,1.320216e+09,4/11/2011,80203.0,...,LEMKE,95.36,0.330,0.560,0.520,1.300,1.910,-104.979294,39.716634,1.080310e+12
1393293,1 N WASHINGTON ST,1987.0,1,7/28/2015,Female,CLARK,REP,1.320216e+09,11/23/2011,80203.0,...,CLARK,74.65,19.020,0.540,1.010,2.190,2.580,-104.979294,39.716634,1.080310e+12
1393294,1 N YATES ST,1937.0,1,7/18/2008,Female,JANZEN,REP,1.340416e+09,9/26/1972,80219.0,...,JANZEN,93.98,0.490,0.720,0.290,1.270,3.260,-105.050968,39.716850,1.080310e+12
1393295,1 N YATES ST,1935.0,1,7/18/2008,Male,JANZEN,REP,1.340416e+09,9/26/1972,80219.0,...,JANZEN,93.98,0.490,0.720,0.290,1.270,3.260,-105.050968,39.716850,1.080310e+12
1393296,1 N ZENOBIA ST,1973.0,1,11/4/2014,Male,SANDOVAL,UAF,1.340416e+09,10/4/2004,80219.0,...,SANDOVAL,5.29,0.210,0.550,1.770,0.250,91.930,NaN,NaN,NaN
1393297,1 POLO CLUB DR,1940.0,1,5/28/2008,Male,ALBRIGHT,UAF,1.320617e+09,9/25/1976,80209.0,...,ALBRIGHT,89.66,5.590,0.490,0.520,1.630,2.100,-104.954301,39.704238,1.080310e+12
1393298,1 POLO CLUB DR,1983.0,1,10/28/2015,Male,SALAZAR,DEM,1.320617e+09,10/6/2008,80209.0,...,SALAZAR,5.62,0.270,1.690,0.460,0.300,91.650,-104.954301,39.704238,1.080310e+12
1393299,1 POLO CLUB DR,1943.0,1,5/28/2008,Female,ALBRIGHT,UAF,1.320617e+09,9/25/1976,80209.0,...,ALBRIGHT,89.66,5.590,0.490,0.520,1.630,2.100,-104.954301,39.704238,1.080310e+12
1393300,1 POLO CLUB LN,1924.0,1,5/4/2007,Male,HIGBIE,UAF,1.320617e+09,5/4/2007,80209.0,...,HIGBIE,97.28,0.000,0.740,0.000,0.620,1.360,-104.955704,39.707080,1.080310e+12
1393301,1 POLO CLUB LN,1931.0,1,5/4/2007,Female,HIGBIE,UAF,1.320617e+09,5/4/2007,80209.0,...,HIGBIE,97.28,0.000,0.740,0.000,0.620,1.360,-104.955704,39.707080,1.080310e+12
1393302,1 POLO CLUB RD,1958.0,1,2/7/2011,Female,SELBY,REP,1.320617e+09,8/18/1993,80209.0,...,SELBY,81.23,13.340,0.560,0.600,1.970,2.290,NaN,NaN,NaN
1393303,1 POLO CLUB RD,1948.0,1,2/2/2000,Male,SELBY,REP,1.320617e+09,2/2/2000,80209.0,...,SELBY,81.23,13.340,0.560,0.600,1.970,2.290,NaN,NaN,NaN
1393304,1 POLO FIELD LN,1964.0,1,9/9/2013,Male,BAIN,REP,1.320617e+09,8/5/1986,80209.0,...,BAIN,84.59,9.080,1.080,1.020,1.870,2.370,-104.956373,39.709683,1.080310e+12
1393305,1 POLO FIELD LN,1965.0,1,11/4/2014,Female,BAIN,UAF,1.320617e+09,1/3/2000,80209.0,...,BAIN,84.59,9.080,1.080,1.020,1.870,2.370,-104.956373,39.709683,1.080310e+12
1393306,1 S ALBION ST,1972.0,1,3/7/2016,Female,LEDGES,DEM,1.310617e+09,5/21/2001,80246.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-104.939859,39.715972,1.080310e+12
1393307,1 S ASH ST,1975.0,1,6/18/2014,Male,MITCHELL,DEM,1.310617e+09,8/28/2013,80246.0,...,MITCHELL,61.02,32.500,0.480,1.040,2.500,2.470,-104.938657,39.715986,1.080310e+12
1393308,1 S BIRCH ST,1975.0,1,10/3/2011,Female,ROSE,DEM,1.310617e+09,6/28/2006,80246.0,...,ROSE,82.08,11.610,0.720,0.640,1.990,2.960,-104.936592,39.715989,1.080310e+12
1393309,1 S BIRCH ST,1972.0,1,9/17/2012,Male,MUBARAK,UAF,1.310617e+09,9/17/2012,80246.0,...,MUBARAK,45.80,29.450,10.950,2.635,8.530,2.635,-104.936592,39.715989,1.080310e+12
1393310,1 S CHERRY ST,1997.0,1,12/22/2015,Female,HANKIN,DEM,1.310617e+09,12/22/2015,80246.0,...,HANKIN,92.91,2.100,0.445,0.445,0.780,3.320,-104.934161,39.715983,1.080310e+12
1393311,1 S CHERRY ST,1956.0,1,10/3/2011,Female,NEUSTADT,DEM,1.310617e+09,4/5/1983,80246.0,...,NEUSTADT,98.73,0.000,0.180,0.000,0.180,0.910,-104.934161,39.715983,1.080310e+12
1393312,1 S DAHLIA ST,1986.0,1,9/5/2012,Female,LUPPENS,LBR,1.310617e+09,9/5/2012,80246.0,...,LUPPENS,94.48,1.035,1.035,0.000,0.000,3.450,-104.931978,39.715995,1.080310e+12
1393313,1 S DOWNING ST,1982.0,1,10/13/2010,Male,DUNBAR,UAF,1.320216e+09,10/6/2008,80209.0,...,DUNBAR,64.22,30.100,0.600,0.390,2.390,2.290,-104.974378,39.716159,1.080310e+12
1393314,1 S DOWNING ST,1982.0,1,3/16/2016,Male,SPRIGG,DEM,1.320216e+09,5/9/2013,80209.0,...,SPRIGG,92.40,2.300,0.460,0.460,1.380,3.000,-104.974378,39.716159,1.080310e+12
1393315,1 S DOWNING ST,1985.0,1,10/22/2013,Male,STRAIN,UAF,1.320216e+09,6/10/2008,80209.0,...,STRAIN,87.07,7.930,0.560,0.680,1.780,1.990,-104.974378,39.716159,1.080310e+12
1393316,1 S DOWNING ST,1964.0,1,5/24/2016,Male,MACLACHLAN,REP,1.320216e+09,2/28/2011,80209.0,...,MACLACHLAN,91.87,0.460,0.660,0.460,1.490,5.060,-104.974378,39.716159,1.080310e+12
1393317,1 S DOWNING ST,1985.0,1,10/20/2011,Male,FINLEY,UAF,1.320216e+09,1/28/2010,80209.0,...,FINLEY,72.30,21.350,0.520,1.240,2.240,2.360,-104.974378,39.716159,1.080310e+12
1393318,1 S DOWNING ST,1985.0,1,6/16/2015,Male,GEHRING,REP,1.320216e+09,3/2/2012,80209.0,...,GEHRING,96.02,0.180,0.610,0.350,1.270,1.570,-104.974378,39.716159,1.080310e+12